<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>

<body>
    <a href="{% url 'todo-create' %}">新增todo</a>
    <h1>代辦事項列表</h1>

    {% for todo in todos %}
    <div class="todo-field">
        <small>{{todo.created}}</small>
        <div class="title">{{todo.title}}</div>
        <div class="content">{{todo.content}}</div>
        <div class="created">{{todo.created}}</div>
        <div class="completed">{{todo.completed}}</div>
        <div class="important">{{todo.important}}</div>

        <a href="{% url 'todo-delete' todo.id %}" onclick="return confirm('是否確定刪除??')">刪除</a>
        <a href="{% url 'todo-update' todo.id %}">更新</a>

    </div>
    {% endfor %}
</body>

</html>